<a href="https://colab.research.google.com/github/HolisChau/clases/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[20, 15, 25, 30, 18, 22, 24]  #Producto A
b=[12, 20, 14, 8, 15, 18, 16]   #Producto B
c=[35, 28, 32, 30, 26, 24, 30]  #Producto C
d=[40, 38, 45, 42, 39, 41, 37]  #Producto D

lista_py_ventas=[a,
                 b,
                 c,
                 d]
print(lista_py_ventas)

p=0
print(f"Ventas del día Jueves para el producto {p}: {lista_py_ventas[p][3]}")

p=1
print(f"Ventas del día Jueves para el producto {p}: {lista_py_ventas[p][3]}")

p=2
print(f"Ventas del día Jueves para el producto {p}: {lista_py_ventas[p][3]}")

p=3
print(f"Ventas del día Jueves para el producto {p}: {lista_py_ventas[p][3]}")

dia="jueves"
suma=0
for p in range(4):
  print(lista_py_ventas[p][3])
  suma=suma+lista_py_ventas[p][3]
print(f'La suma total de ventas del día {dia} es:', suma)

[[20, 15, 25, 30, 18, 22, 24], [12, 20, 14, 8, 15, 18, 16], [35, 28, 32, 30, 26, 24, 30], [40, 38, 45, 42, 39, 41, 37]]
Ventas del día Jueves para el producto 0: 30
Ventas del día Jueves para el producto 1: 8
Ventas del día Jueves para el producto 2: 30
Ventas del día Jueves para el producto 3: 42
30
8
30
42
La suma total de ventas del día jueves es: 110

In [ ]:
import numpy as np

vector_np_ventas=np.array(lista_py_ventas)
print(vector_np_ventas)

print(vector_np_ventas[2,1])
print(lista_py_ventas[0][0])

total = np.sum(vector_np_ventas)
print(total)

subtotal_por_producto_semanal=np.sum(vector_np_ventas, axis=1)

print(f"Subtotal por producto semanal: {subtotal_por_producto_semanal}")

subtotal_producto_a = subtotal_por_producto_semanal[0]

print(f"Subtotal ventas del producto A: {subtotal_producto_a}")

[[20 15 25 30 18 22 24]
 [12 20 14  8 15 18 16]
 [35 28 32 30 26 24 30]
 [40 38 45 42 39 41 37]]
28
20
744
Subtotal por producto semanal: [154 103 205 282]
Subtotal ventas del producto A: 154

In [ ]:
subtotal_por_dia=np.sum(vector_np_ventas, axis=0)
subtotal_por_dia

subtotal_jueves=subtotal_por_dia[3]

print(f"Subtotal de ventas del día Jueves: {subtotal_jueves}")

Subtotal de ventas del día Jueves: 110

In [ ]:
subtotal_por_dia=np.sum(vector_np_ventas, axis=0)
print(f"Subtotal de ventas para cada dia de la semana: {subtotal_por_dia}")

Subtotal de ventas para cada dia de la semana: [107 101 116 110  98 105 107]

In [ ]:
subtotal_por_dia=np.sum(vector_np_ventas, axis=1)
print(f"Subtotal de ventas para cada semana: {subtotal_por_dia}")

Subtotal de ventas para cada semana: [154 103 205 282]

In [ ]:
import numpy as np
goles_messi = []
equipos_messi = ["Argentina", "FC Barcelona", "PSG", "Inter de Miami"]

def numero_int_positivo(valor):
    try:
        valor = int(valor)
        if valor > 0:
            return True
        else:
            return False
    except:
        return False

"""
valor = input("Escribir numero: ")
numero_int_positivo(valor)
"""
indice = 0
maximo = 4
while indice < maximo:
    equipo = equipos_messi[indice]
    print(equipo)
    goles = input("Ingrese los goles de Messi con este equipo: ")
    if numero_int_positivo(goles) == True:
        goles = int(goles)
        goles_messi.append(goles)
        indice = indice + 1
    elif goles == "cancelar":
        break
    else:
        print("Error: Debes ingresar un número entero positivo.")


goles_messi = np.array(goles_messi)
print(f"Lista de goles de Messi: {goles_messi}")
suma_goles = np.sum(goles_messi)
print(f"El total de goles de Messi entre todos los equipos es: {suma_goles}")

Argentina
Ingrese los goles de Messi con este equipo: 10
FC Barcelona
Ingrese los goles de Messi con este equipo: 20
PSG
Ingrese los goles de Messi con este equipo: 30
Inter de Miami
Ingrese los goles de Messi con este equipo: 40
Lista de goles de Messi: [10 20 30 40]
El total de goles de Messi entre todos los equipos es: 100

In [ ]:
lista = []
lista2 = []
filas = ["Partidos jugados", "Títulos obtenidos"]
columnas = ["Argentina", "Barcelona", "PSG", "Inter de Miami"]

indice = 0
maximo = 4


while indice < maximo:
    equipo = columnas[indice]
    print(columnas[indice])
    partidos = input("Ingrese los partidos de Messi con este equipo: ")
    if numero_int_positivo(partidos) == True:
        partidos = int(partidos)
        lista.append(partidos)
        indice = indice + 1
    elif partidos == "cancelar":
        break
    else:
        print("Error: Debes ingresar un número entero positivo.")

indice = indice - 4

while indice < maximo:
    equipo = columnas[indice]
    print(columnas7
     [indice])
    titulos = input("Ingrese los titulos de Messi con este equipo: ")
    if numero_int_positivo(titulos) == True:
        titulos = int(titulos)
        lista2.append(titulos)
        indice = indice + 1
    elif titulos == "cancelar":
        break
    else:
        print("Error: Debes ingresar un número entero positivo.")


print("La tabla ingresada como lista de Python es: ")
print(lista)
print(lista2)

matriz = np.array(lista + lista2).reshape(2,4)
print("La matriz de NumPy resultante es:")
print(matriz)

partidos_argentina_barcelona = matriz[0, 0:2]
suma_partidos = np.sum(partidos_argentina_barcelona)
print("Suma de partidos jugados con Argentina y Barcelona:", suma_partidos)

Argentina
Ingrese los partidos de Messi con este equipo: 1
Barcelona
Ingrese los partidos de Messi con este equipo: 2
PSG
Ingrese los partidos de Messi con este equipo: 3
Inter de Miami
Ingrese los partidos de Messi con este equipo: 4
Argentina
Ingrese los titulos de Messi con este equipo: 5
Barcelona
Ingrese los titulos de Messi con este equipo: 6
PSG
Ingrese los titulos de Messi con este equipo: 7
Inter de Miami
Ingrese los titulos de Messi con este equipo: 8
La tabla ingresada como lista de Python es:
[1, 2, 3, 4]
[5, 6, 7, 8]
La matriz de NumPy resultante es:
[[1 2 3 4]
 [5 6 7 8]]
Suma de partidos jugados con Argentina y Barcelona: 3